<a href="https://colab.research.google.com/github/juanosalvador/T-cnicas-de-Clustering/blob/main/Distancias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/movies/movies.csv', sep = ';')

In [5]:
df

   user_id  star_wars  lord_of_the_rings  harry_potter
0        1        1.2                4.9           2.1
1        2        2.1                8.1           7.9
2        3        7.4                3.0           9.9
3        4        5.6                0.5           1.8
4        5        1.5                8.3           2.6
5        6        2.5                3.7           6.5
6        7        2.0                8.2           8.5
7        8        1.8                9.3           4.5
8        9        2.6                1.7           3.1
9       10        1.5                4.7           2.3