<a href="https://colab.research.google.com/github/juanosalvador/T-cnicas-de-Clustering/blob/main/Distancias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial  import distance_matrix

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/movies/movies.csv', sep = ';')

In [7]:
df

   user_id  star_wars  lord_of_the_rings  harry_potter
0        1        1.2                4.9           2.1
1        2        2.1                8.1           7.9
2        3        7.4                3.0           9.9
3        4        5.6                0.5           1.8
4        5        1.5                8.3           2.6
5        6        2.5                3.7           6.5
6        7        2.0                8.2           8.5
7        8        1.8                9.3           4.5
8        9        2.6                1.7           3.1
9       10        1.5                4.7           2.3

In [9]:
## Solo utilzaremos las columnas de nombres de peliculas
movies = df.columns.values.tolist()[1:]
movies

['star_wars', 'lord_of_the_rings', 'harry_potter']

In [12]:
df_movies =df.loc[:,movies]
df_movies

   star_wars  lord_of_the_rings  harry_potter
0        1.2                4.9           2.1
1        2.1                8.1           7.9
2        7.4                3.0           9.9
3        5.6                0.5           1.8
4        1.5                8.3           2.6
5        2.5                3.7           6.5
6        2.0                8.2           8.5
7        1.8                9.3           4.5
8        2.6                1.7           3.1
9        1.5                4.7           2.3

In [13]:
df[movies]

   star_wars  lord_of_the_rings  harry_potter
0        1.2                4.9           2.1
1        2.1                8.1           7.9
2        7.4                3.0           9.9
3        5.6                0.5           1.8
4        1.5                8.3           2.6
5        2.5                3.7           6.5
6        2.0                8.2           8.5
7        1.8                9.3           4.5
8        2.6                1.7           3.1
9        1.5                4.7           2.3

In [29]:
## Calculando la matriz de distancias, utilizando tres formas 
manhattan_distance = distance_matrix(df[movies], df[movies], p=1)
euclidean_distance = distance_matrix(df[movies], df[movies], p=2)
d10_distance = distance_matrix(df[movies],df[movies], p = 10)

In [30]:
# funcion para crear un dataframe
def array_to_df(matriz, col_names):
  import pandas as pd
  return pd.DataFrame(matriz, index = col_names, columns = col_names)

In [31]:
df_manhattan_distance = array_to_df(manhattan_distance, df['user_id'])
df_manhattan_distance

user_id    1     2     3     4     5     6     7     8     9     10
user_id
1         0.0   9.9  15.9   9.1   4.2   6.9  10.5   7.4   5.6   0.7
2         9.9   0.0  12.4  17.2   6.1   6.2   0.8   4.9  11.7   9.6
3        15.9  12.4   0.0  12.4  18.5   9.0  12.0  17.3  12.9  15.2
4         9.1  17.2  12.4   0.0  12.7  11.0  18.0  15.3   5.5   8.8
5         4.2   6.1  18.5  12.7   0.0   9.5   6.5   3.2   8.2   3.9
6         6.9   6.2   9.0  11.0   9.5   0.0   7.0   8.3   5.5   6.2
7        10.5   0.8  12.0  18.0   6.5   7.0   0.0   5.3  12.5  10.2
8         7.4   4.9  17.3  15.3   3.2   8.3   5.3   0.0   9.8   7.1
9         5.6  11.7  12.9   5.5   8.2   5.5  12.5   9.8   0.0   4.9
10        0.7   9.6  15.2   8.8   3.9   6.2  10.2   7.1   4.9   0.0

In [32]:
df_euclidean_distance = array_to_df(euclidean_distance, df['user_id'])
df_euclidean_distance

user_id         1          2          3   ...         8         9         10
user_id                                   ...
1         0.000000   6.685058  10.143471  ...   5.047772  3.633180  0.412311
2         6.685058   0.000000   7.622336  ...   3.618011  8.015610  6.578754
3        10.143471   7.622336   0.000000  ...  10.010494  8.424369  9.770363
4         6.229767  10.354709   8.666026  ...   9.958414  3.482815  5.890671
5         3.449638   5.337602  10.779147  ...   2.167948  6.709694  3.612478
6         4.742362   4.634652   6.004998  ...   5.987487  3.945884  4.431704
7         7.244998   0.616441   7.626270  ...   4.153312  8.471718  7.137226
8         5.047772   3.618011  10.010494  ...   0.000000  7.769170  5.107837
9         3.633180   8.015610   8.424369  ...   7.769170  0.000000  3.293934
10        0.412311   6.578754   9.770363  ...   5.107837  3.293934  0.000000

[10 rows x 10 columns]

In [35]:
df_d10_distance = array_to_df(d10_distance, df['user_id'])
df_d10_distance

user_id        1         2         3   ...        8         9         10
user_id                                ...
1        0.000000  5.801514  7.875189  ...  4.401025  3.200085  0.301025
2        5.801514  0.000000  5.582463  ...  3.400010  6.435159  5.603800
3        7.875189  5.582463  0.000000  ...  6.570254  6.820602  7.658364
4        4.715803  7.680689  8.100007  ...  8.800205  3.000101  4.450759
5        3.400000  5.300000  7.408914  ...  1.900310  6.600000  3.600000
6        4.400003  4.400005  4.912532  ...  5.600019  3.401683  4.200000
7        6.400850  0.600000  5.689450  ...  4.000001  6.595259  6.202035
8        4.401025  3.400010  6.570254  ...  0.000000  7.600000  4.600288
9        3.200085  6.435159  6.820602  ...  7.600000  0.000000  3.000014
10       0.301025  5.603800  7.658364  ...  4.600288  3.000014  0.000000

[10 rows x 10 columns]